[workspace]
resolver = "2"
members = [
	"basic-server",
	"server",
	"adapters/auth-adapter-sqlite",
	"adapters/blob-adapter-fs",
	"adapters/meta-adapter-sqlite",
	"adapters/rtdb-adapter-redb",
	"adapters/crdt-adapter-redb",
]

[workspace.package]
version = "0.8.7"
edition = "2021"

[profile.release-lto]
opt-level = "s"
inherits = "release"
lto = true
codegen-units = 1
strip = true
